{% extends 'index.html' %}
{% load static %}


{% block titulo %}
    Módulo 4 | Pruebas de Hipótesis
{% endblock titulo %}




{% block body %}

<section class="slice slice-lg" id="sct-form-contact">
    <div class="container position-relative zindex-100">
        
        <div class="card bg-dark-secondary border-0" style="max-width: 100%;">
            <div class="card-body px-2 py-2 text-center text-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <h3 class="mb-2 text-dark">Pruebas de Hipótesis</h3>
                        <h4>Temario</h4>
                    </div>
                </div>
            </div>
        </div>
      

        {% if modulos %}
            {% for modulo in modulos %}


            <div class="card shadow-none  bg-gradient-success">
                <div class="card-body px-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center align-items-center mb-3">
                                <div>
                                    <div class="text-white mr-4">
                                        <span class="badge bg-light-dark badge-pill"> {{modulo.numero}} </span>
                                    </div>
                                </div>
                                <span class="h5 text-black mb-0">{{modulo.tema}}</span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 mt-4 mt-md-0 text-md-right">
                            <a onclick="modal_teoria('{% url 'curso:tema_4' modulo.id %}')" class="btn bg-light-dark btn-icon rounded-pill">
                                <span class="btn-inner--icon text-white">
                                    <i data-feather="book"></i>
                                </span>
                                <span class="text-white pt-4 btn-inner--text">Teoría</span>
                            </a>
                            <a onclick="modal_practica('{% url 'curso:practica_4' modulo.id %}')" class="btn bg-light-dark btn-icon rounded-pill">
                                <span class="btn-inner--icon text-white">
                                    <i data-feather="edit-3"></i>
                                </span>
                                <span class="text-white pt-4 btn-inner--text">Práctica</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>


            {% endfor %}
        {% endif %}   
      
        
    </div>
</section>




<div class="modal fade" id="teoria" role="dialog">
</div>
<div class="modal fade" id="practica" role="dialog">
</div>



{% endblock body %}





