{% extends 'index.html' %}
{% load static %}


{% block titulo %}
    Iniciar sesión
{% endblock titulo %}

 
{% block menu %}
    <!-- Nav -->
    <header class="header" id="header-main">
        <!-- Main navbar -->
        <nav class="navbar navbar-main navbar-expand-lg fixed-top navbar-shadow navbar-light bg-white border-bottom" id="navbar-main">
            <div class="container-fluid justify-content-between">
                
                <!-- Navbar brand -->
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img alt="Image placeholder" src="{% static '/assets/img/brand/briq.png' %}" id="navbar-logo">
                    
                </a>
                <!-- Live preview -->
                <ul class="navbar-nav flex-row align-items-center d-lg-none">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link nav-link-icon"><i data-feather="home"></i></a>
                    </li>
                </ul>
                
                <a href="{% url 'index' %}" class="btn btn-sm btn-dark ml-4 btn-icon d-none d-lg-inline-flex">
                    <span class="btn-inner--icon"><i data-feather="chevron-left"></i></span>
                    <span class="btn-inner--text">Regresar</span>
                </a>
            </div>
        </nav>
    </header>
{% endblock menu %}




{% block body %}


<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-6 col-lg-5 col-xl-5 py-6 py-md-0">
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-body px-md-5 py-5">
                        {% if form.error_messages %}
                                <div class="alert alert-outline-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss = "alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
                                </div>
                        {% endif %}
                        <div class="mb-5 text-center">
                            <h6 class="h3">Iniciar sesión</h6>
                        </div>
                        <span class="clearfix"></span>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                        
                            <div class="form-group">
                                <label class="form-control-label">Usuario</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                    </div>
                                    <input type="text" class="form-control" name="username" id="input-email" placeholder="Nombre de usuario">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <label class="form-control-label">Contraseña</label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i data-feather="key"></i></span>
                                    </div>
                                    <input type="password" class="form-control" name="password" id="input-password" placeholder="Contraseña">
                                </div>
                            </div>
                            

                            <div class="mt-4">
                                <button type="submit" class="btn btn-block btn-dark">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer px-md-5 text-center"><small>¿No tienes una cuenta?</small>
                        <a href="{% url 'usuarios:register' %}" class="small font-weight-bold text-dark">Regístrate ahora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock body %}



{% block footer %}
{% endblock footer %}


