{% extends 'index.html' %}
{% load static %}


{% block titulo %}
    Regístrate
{% endblock titulo %}

 
{% block menu %}
    <!-- Nav -->
    <header class="header" id="header-main">
        <!-- Main navbar -->
        <nav class="navbar navbar-main navbar-expand-lg fixed-top navbar-shadow navbar-light bg-white border-bottom" id="navbar-main">
            <div class="container-fluid justify-content-between">
                
                <!-- Navbar brand -->
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img alt="Image placeholder" src="{% static '/assets/img/brand/briq.png' %}" id="navbar-logo">
                    
                </a>
                <!-- Live preview -->
                <ul class="navbar-nav flex-row align-items-center d-lg-none">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link nav-link-icon"><i data-feather="home"></i></a>
                    </li>
                </ul>
                
                <a href="{% url 'index' %}" class="btn btn-sm btn-dark ml-4 btn-icon d-none d-lg-inline-flex">
                    <span class="btn-inner--icon"><i data-feather="chevron-left"></i></span>
                    <span class="btn-inner--text">Regresar</span>
                </a>
            </div>
        </nav>
    </header>
{% endblock menu %}




{% block body %}


<section>
    <div class="container">
        
        
                <div class="card shadow zindex-100 mb-0">
                    <div class="card-body px-md-5 py-5">

                        <div class="mb-5 text-center">
                            <h6 class="h3">Regístrate</h6>
                        </div>
                        <span class="clearfix"></span>
                        <form action="{% url 'usuarios:register' %}" method="POST">
                        {% csrf_token %}
                       
                        <div class="form-group">
                            <label class="form-control-label">Usuario</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i data-feather="user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" id="input-email" placeholder="Nombre de usuario">
                              </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Nombres(s)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i data-feather="user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="first_name" id="input-email" placeholder="Nombre(s)">
                              </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Apellidos</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i data-feather="user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="last_name" id="input-email" placeholder="Apellidos">
                              </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Correo eléctronico</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i data-feather="mail"></i></span>
                                </div>
                                <input type="email" class="form-control" name="email" id="input-email" placeholder="nombre@ejemplo.com">
                              </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <label class="form-control-label">Contraseña</label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i data-feather="key"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password1" id="input-password" placeholder="Contraseña">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <label class="form-control-label">Confirmar contraseña</label>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i data-feather="key"></i></span>
                                </div>
                                <input type="password" class="form-control" name="password2" id="input-password" placeholder="Confirmar contraseña">
                            </div>
                        </div>
                        
  
                         
                        <div class="mt-4">
                            <button type="submit" class="btn btn-block btn-dark">Regístrate</button>
                        </div>
                           
                        </form>
                    </div>
                    <div class="card-footer px-md-5 text-center"><small>¿Tienes una cuenta?</small>
                        <a href="{% url 'login' %}" class="small font-weight-bold text-dark">Iniciar sesión</a></div>
                </div>
                

           
    </div>
</section>


{% endblock body %}



{% block footer %}
{% endblock footer %}



