{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    <title>{% block titulo %} Briq | ¡Aprende algo nuevo hoy! {% endblock titulo %}</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/img/brand/favicon2.png' %}" type="image/png"><!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'assets/libs/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/quick-website.css' %}" id="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
    
    
    {% block menu %}  


    {% if user.is_authenticated %} 
        
        <!-- Nav -->
        <header class="header" id="header-main">
            <!-- Main navbar -->
            <nav class="navbar navbar-main navbar-expand-lg fixed-top navbar-shadow navbar-light bg-white border-bottom" id="navbar-main">
                <div class="container-fluid justify-content-between">
                
                    
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img alt="Image placeholder" src="{% static '/assets/img/brand/briq.png' %}" id="navbar-logo">
                    </a>
                    <!-- Live preview -->
                    <ul class="navbar-nav flex-row align-items-center d-lg-none">
                        <li class="nav-item">
                            <a onclick="modal_menu_login('{% url 'menu_login' %}')" type="button" class="btn bg-light-dark btn-icon">
                        
                                <span class="btn-inner--icon text-white">
                                    <i data-feather="user"></i>
                                </span>
                                <span class="btn-inner--text text-white">{{user.first_name}}</span>
                            </a>  
                            </li>
                    </ul>
                    <!-- Navbar nav -->
                    <div class="collapse navbar-collapse" id="navbar-main-collapse">
                        
                        <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                            <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                                <button type="button" class="btn bg-light-dark btn-icon">
                            
                                    <span class="btn-inner--icon text-white">
                                        <i data-feather="user"></i>
                                    </span>
                                    <span class="btn-inner--text text-white">{{user.first_name}} {{user.last_name}}</span>
                                </button>   
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'curso:listado_curso' %}">
                                        <span class="btn-inner--icon text-dark">
                                            <i data-feather="codesandbox"></i>
                                        </span> 
                                        Módulos
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <span class="btn-inner--icon text-dark">
                                            <i data-feather="log-out"></i>
                                        </span> 
                                        Cerrar sesión
                                    </a> 
                                </div>
                            </li>   
                        </ul>
                    </div>

                </div>
            </nav>
        </header>


        {% else %}

           
        <!-- Nav -->
        <header class="header" id="header-main">
            <!-- Main navbar -->
            <nav class="navbar navbar-main navbar-expand-lg fixed-top navbar-shadow navbar-light bg-white border-bottom" id="navbar-main">
                <div class="container-fluid justify-content-between">
                
                    
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <img alt="Image placeholder" src="{% static '/assets/img/brand/briq.png' %}" id="navbar-logo">
                    </a>
                    <!-- Live preview -->
                    <ul class="navbar-nav flex-row align-items-center d-lg-none">
                        <li class="nav-item">
                            <a onclick="modal_menu('{% url 'menu' %}')" class="nav-link nav-link-icon"><i data-feather="menu"></i></a>
                        </li>
                    </ul>
                    <!-- Navbar nav -->
                    <div class="collapse navbar-collapse" id="navbar-main-collapse">
                        
        
                        <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                            <li class="nav-item ">
                                <a class="nav-link text-dark" href="{% url 'usuarios:register' %}">Regístrate</a>
                            </li>   
                        </ul>
                        <a href="{% url 'login' %}" class="btn btn-sm bg-light-dark ml-4 btn-icon d-none d-lg-inline-flex">
                            <span class="btn-inner--icon text-white"><i data-feather="user"></i></span>
                            <span class="btn-inner--text text-white">Iniciar sesión</span>
                        </a>
                        
                    </div>

                </div>
                    
            
            </nav>
        </header>



    {% endif %}
    {% endblock menu %}  


    {% block body %}  
        <!-- Main content -->
        <section class="slice py-7">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                        <!-- Image -->
                        <figure class="w-100">
                            <img alt="Image placeholder" src="{% static 'assets/img/svg/illustrations/illustration-15.svg' %}" class="img-fluid mw-md-120">
                        </figure>
                    </div>
                    <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                        <!-- Heading -->
                        <h1 class="display-4 text-center text-md-left mb-3">
                            Este es el mejor curso de <strong class="text-primary">probabilidad y estadística</strong>
                        </h1>
                        <!-- Text -->
                        <p class="lead text-center text-md-left text-dark">
                            ¡Es tu oportunidad de aprender algo nuevo hoy!
                        </p>
                        <!-- Buttons -->
                        <div class="text-center text-md-left mt-5">
                            {% if user.is_authenticated %} 
                                <a href="{% url 'curso:listado_curso' %}" class="btn bg-light-dark btn-icon">
                                    <span class="btn-inner--text text-white">Módulos</span>
                                    <span class="btn-inner--icon text-white"><i data-feather="chevron-right"></i></span>
                                </a>
                                {% else %}
                                    <a class="btn bg-light-dark btn-icon" target="_blank" href="{% url 'usuarios:register' %}">
                                        <span class="btn-inner--text text-white">Empezar ahora</span>
                                        <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                                    </a>
                            {% endif %}
                           
                        </div>
                    </div>
                </div> 
            </div>
        </section>
        
        
        <section class="slice slice-lg pt-lg-3 pb-0 pb-lg-3 bg-section-secondary">
            <div class="container">
                <!-- Title -->
                <!-- Section title -->
                <div class="row mb-5 justify-content-center text-center">
                    <div class="col-lg-6">
                        
                        <div class="card bg-dark-secondary border-0" style="max-width: 100%;">
                            <div class="card-body px-2 py-2 text-center text-center">
                                <div class="row justify-content-center">
                                    <div class="col">
                                        <h4 class="mb-2 text-dark">¿Por qué tomar éste curso?</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card text-center hover-translate-y-n10 hover-shadow-lg bg-dark">
                            <div class="px-5 pb-5 pt-5">
                                <div class="py-4">
                                    <div class="icon text-white icon-sm mx-auto">
                                        <i data-feather="briefcase"></i>
                                    </div>
                                </div>
                                <h5 class="text-white">Profesional</h5>
                                <p class="text-white mt-2 mb-0">
                                    Los temas de este curso son de alto impacto y al ser una rama de las 
                                    matemáticas pueden ayudarte hacer más eficiente en tu trabajo. 
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card text-center hover-translate-y-n10 hover-shadow-lg bg-white">
                            <div class="px-5 pb-5 pt-5">
                                <div class="py-4">
                                    <div class="icon text-dark icon-sm mx-auto">
                                        <i data-feather="user"></i>
                                    </div>
                                </div>
                                <h5 class="text-dark">Personal</h5>
                                <p class="text-dark mt-2 mb-0">
                                    Ser autodidacta es una de las mayores virtudes de una persona y aprender
                                    un tema de relevancia es mucho mejor.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card text-center hover-translate-y-n10 hover-shadow-lg bg-dark">
                            <div class="px-5 pb-5 pt-5">
                                <div class="py-4">
                                    <div class="icon text-white icon-sm mx-auto">
                                        <i data-feather="book-open"></i>
                                    </div>
                                </div>
                                <h5 class="text-white">Escolar</h5>
                                <p class="text-white mt-2 mb-0">
                                    No es una materia más, es un nuevo conocimiento que te ayudará en tu
                                    formación estudiantil.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

    {% endblock body %}

   

    {% block footer %}  
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class=" fill-section-secondary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container">


                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'index' %}">
                            <img alt="Image placeholder" src="{% static 'assets/img/brand/briq2.png' %}" id="footer-logo">
                        </a>
                        <!-- Webpixels' mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4">
                            Briq intenta brindar una plaforma de aprendizaje que sea comoda, eficiente y sobretodo
                            de calidad para los usuarios. Nuestro principal objetivo es el desarrollo tanto personal
                            como profesional de los usuarios, además de que sirva de apoyo para complementar los
                            conocimientos de los estudiantes.
                        </p>
                    </div>
                    
                </div>
                

                <div class="row justify-content-center">
                    <div class="col-md-auto">
                        <!-- Social -->
                            
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link pl-0" target="_blank">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                        </ul>    
                    </div>
                </div>


                
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2020 Elaborado por:<a class="font-weight-bold"> Ulises Alvarez / Isaac Ramírez</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link">
                                    Términos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    Privacidad
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    Cookies
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </footer>
    {% endblock footer %}  
  

    
    <!-- Core JS  -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/dist/feather.min.js' %}"></script>
    <!-- Quick JS -->
    <script src="{% static 'assets/js/quick-website.js' %}"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>



<div class="modal fade" id="menu" role="dialog">
</div>

<div class="modal fade" id="menu_login" role="dialog">
</div>


<div class="modal fade" id="register" role="dialog">
</div>


    {% block extrajs %}

    <script type="text/javascript">
        var $ = jQuery.noConflict();
        
        function modal_register(url){
        $('#register').load(url,function(){
        $(this).modal('show');
        });}

        function modal_menu(url){
        $('#menu').load(url, function (){
            $(this).modal('show');
        });}

        function modal_menu_login(url){
        $('#menu_login').load(url, function (){
            $(this).modal('show');
        });}

        function modal_teoria(url){
        $('#teoria').load(url, function (){
            $(this).modal('show');
        });}
        
        function modal_practica(url){
        $('#practica').load(url, function (){
            $(this).modal('show');
        });}
    </script>

    {% endblock extrajs %}


</body>


</html>