{% extends 'index.html' %}
{% load static %}


{% block titulo %}
    Probabilidad y estadística
{% endblock titulo %}

 

{% block body %}

<section class="slice slice-lg" id="sct-form-contact">
    <div class="container position-relative zindex-100">
        
        <div class="card bg-dark-secondary border-0" style="max-width: 100%;">
            <div class="card-body px-2 py-2 text-center text-center">
                <div class="row justify-content-center">
                    <div class="col">
                        <h3 class="mb-2 text-dark">Módulos</h3>
                        <h5> ¡Empezemos ésta nueva aventura! </h5>
                    </div>
                </div>
            </div>
        </div>
      


        <!--Modulo 1-->
        <div class="card bg-dark border-0" style="max-width: 100%;">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="mb-2 text-white">Estadística Descriptiva</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                        <a href="{% url 'curso:modulo_1' %}" class="btn btn-white btn-icon rounded-pill">
                            <span class="btn-inner--icon">
                                <i data-feather="codesandbox"></i>
                            </span>
                            <span class="btn-inner--text">Temario</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!--Modulo 2-->
        <div class="card bg-dark border-0" style="max-width: 100%;">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="mb-2 text-white">Probabilidades</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                        <a href="{% url 'curso:modulo_2' %}" class="btn btn-white btn-icon rounded-pill">
                            <span class="btn-inner--icon">
                                <i data-feather="codesandbox"></i>
                            </span>
                            <span class="btn-inner--text">Temario</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>    


        <!--Modulo 3-->
        <div class="card bg-dark border-0" style="max-width: 100%;">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="mb-2 text-white">Intervalos de Confianza</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                        <a href="{% url 'curso:modulo_3' %}" class="btn btn-white btn-icon rounded-pill">
                            <span class="btn-inner--icon">
                                <i data-feather="codesandbox"></i>
                            </span>
                            <span class="btn-inner--text">Temario</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <!--Modulo 4-->
        <div class="card bg-dark border-0" style="max-width: 100%;">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="mb-2 text-white">Pruebas de Hipótesis</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                        <a href="{% url 'curso:modulo_4' %}" class="btn btn-white btn-icon rounded-pill">
                            <span class="btn-inner--icon">
                                <i data-feather="codesandbox"></i>
                            </span>
                            <span class="btn-inner--text">Temario</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!--Modulo 5-->
        <div class="card bg-dark border-0" style="max-width: 100%;">
            <div class="card-body px-5 py-5 text-center text-md-left">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h5 class="mb-2 text-white">Regresión Lineal</h5>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                        <a href="{% url 'curso:modulo_5' %}" class="btn btn-white btn-icon rounded-pill">
                            <span class="btn-inner--icon">
                                <i data-feather="codesandbox"></i>
                            </span>
                            <span class="btn-inner--text">Temario</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>




{% endblock body %}





