<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-translucent-dark">
        <div class="modal-header">
            <h4 class="modal-title text-white">Práctica: {{ practica.tema }}</h4>
            <button type="button" class="badge badge-secondary badge-circle" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="modal-body">
            <div class="card bg-white border-0 rounded-lg" style="max-width: 100%;">
                <div class="card-body px-5 text-dark">
                    <div class="row">
                        {{ practica.practica | safe }}

                    </div>
                </div>
            </div>
            <div class="alert alert-outline-white text-white text-center" role="alert">
                <strong>Atención: Trata de resolver primero el ejercicio antes de ver la respuesta.</strong>
            </div>
            <div id="accordion-2" class="accordion accordion-spaced">
                <!-- Accordion card 1 -->
                <div class="card">
                    <div class="card-header py-4 bg-dark" id="heading-2-1" data-toggle="collapse" role="button"
                        data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                        <h6 class="mb-0 text-white"><i data-feather="eye"
                                class="mr-3 text-white"></i><strong>Respuesta</strong></h6>
                    </div>
                    <div id="collapse-2-1" class="collapse bg-white" aria-labelledby="heading-2-1"
                        data-parent="#accordion-2">
                        <div class="card-body text-dark">
                            {{ practica.solucion | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>