<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-section-dark">
        <div class="modal-header">
            <h4 class="modal-title text-white"> Menú </h4>
            
            <button type="button" class="badge badge-secondary badge-circle" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>  
        </div>
        <a href="{% url 'curso:listado_curso' %}"><h5 class="text-center text-white">Módulos</h5></a>
        <div class="dropdown-divider"></div> 
        <a href="{% url 'logout' %}"><h5 class="text-center text-white">Cerrar sesión</h5></a>
                
    </div>
</div>

    
<div class="modal fade" id="register" role="dialog">
</div>

