<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-translucent-dark">
        <div class="modal-header">
            <h4 class="modal-title text-white">{{ tema.tema }}</h4>
            <button type="button" class="badge badge-secondary badge-circle" data-dismiss = "modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="card bg-white border-0 rounded-lg" style="max-width: 100%;">
                <div class="card-body px-5 text-dark">
                    <div class="row">
                        {{ tema.contenido_tema | safe }}     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>